.password-input{
  padding-left: 40px;
}
.password-input::placeholder{
  padding-left: 1px;
  user-select: none;
}
::placeholder{
    user-select: none;
}


/* swiper */
.swiper {
  width: 100%;
  height: 100%;;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}